html {
  box-sizing: border-box;
  width: 1600px;
  margin: auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --primary-title-color: #212121;
  --secondary-title-color: #ffffff;
  --text-color: #757575;
  --primary-logo-color: #000000;
  --secondary-logo-color: #ffffff;
  --primery-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --button-hover: #188ce8;
  --secondary-main-bg-color: #f5f4fa;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding-left: 0;
}

body {
  margin: 0;

  color: var(--primary-title-color);

  font-family: var(--primary-font-family);
}

/* =====START COMPONENTS===== */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.accent:hover,
.accent:focus {
  color: var(--accent-color);
}

/* .logo-web {
  color: var(--accent-color);
} */

.sabtitle {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* =====END COMPONENTS===== */

/* ======START HEADER====== */

.header-container {
  display: flex;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 24px;
}

.header {
  border-bottom: 1px solid #ececec;

  background-color: var(--primery-background-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--accent-color);

  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-header {
  margin-right: 93px;

  color: var(--primary-logo-color);
}

.nav-list {
  display: flex;
}

.nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.nav-list-link {
  color: var(--primary-title-color);
}

.nav-list-link.current {
  color: var(--accent-color);
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contact-item:not(:last-child) {
  margin-right: 50px;
}

.contact-link {
  color: var(--text-color);
}

/* ======END HEADER====== */

.main-section {
  background-color: var(--primery-background-color);
}

/* ======START HERO====== */

.hero {
  background-color: var(--secondary-background-color);
}

.hero-container {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.main-title {
  margin-bottom: 30px;

  color: var(--secondary-title-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  padding: 10px 32px;

  border: none;
  border-radius: 4px;

  cursor: pointer;

  color: var(--secondary-title-color);
  background-color: var(--accent-color);

  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.button:hover,
.button:focus {
  background-color: var(--button-hover);
}

/* ======END HERO====== */

/* ======START MAIN FEATURES====== */

.features-list {
  display: flex;
  justify-content: space-between;
}

.main-features-item {
  width: calc((100% - 90px) / 4);
  text-align: start;
}

.main-features-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.text {
  color: var(--text-color);
}

/* ======END MAIN FEATURES====== */

/* ======START WORK PROCESS====== */

.work-process-container {
  padding-top: 0px;
}

.work-process-list {
  display: flex;
  justify-content: space-between;
}

.work-process-img {
  display: block;
}

/* ======END WORK PROCESS====== */

/* ======START OUR TEAM====== */

.our-team {
  background-color: var(--secondary-main-bg-color);
}

.our-team-title {
  margin-bottom: 50px;
}

.employees-list {
  display: flex;
  justify-content: space-between;
}

.employee {
  background-color: var(--primery-background-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.employee-img {
  display: block;
}

.employeee-info-container {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.employee-name,
.position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.employee-name {
  font-weight: 500;
  margin-bottom: 10px;
}

.position {
  color: var(--text-color);
  margin-bottom: 0px;
  font-weight: 400;
}
/* ======END OUR TEAM====== */

/* ======START FOOTER====== */

.footer {
  background-color: var(--secondary-background-color);
  color: var(--secondary-title-color);
}

.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  color: var(--secondary-logo-color);
}

.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}

.address {
  font-style: normal;
}

.address-text {
  margin-bottom: 9px;
}

.contact-footer-item {
  margin-bottom: 9px;
}

.contact-footer-item:last-child {
  margin-bottom: 0;
}

.contact-footer-link {
  color: rgba(255, 255, 255, 0.6);
}

/* ======END FOOTER====== */

/* PORTFOLIO */

.portfolio-container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;

  background-color: #f5f4fa;

  font-family: var(--primary-font-family);
  border: none;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--accent-color);
  color: var(--secondary-title-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item:not(:nth-child(3n + 3)) {
  margin-right: 30px;
}

.portfolio-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.portfolio-img {
  display: block;
}

.portfolio-info {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;

  background-color: var(--primery-background-color);
}

.portfolio-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-type {
  color: var(--text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
